#main{
  position:absolute;
  width:450px;
  height:240px;
  border:1px solid black;
  padding:10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  background: rgba(128,128,128,0.3);
}

#d1 {
  border: solid;
  border-color: darkgrey;
  background-color: white;
  text-align: center;
  width: 40%;
  height: 500px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: scroll;
  /*overflow-x: scroll;*/
}

#d2 {
  border: solid;
  border: none;
  background-color: white;
  text-align: center;
  width: 40%;
  height: 500px;
  font-size: 12px;
  margin-left: 30px;
  margin-top: 10px;
  
}
  


#btnAdd {
  width: auto;
  margin: 10px;

}

/*for the card*/
.clPanel{
	white-space: pre;
  background: rgba(128,128,128,0.3);
	width: 200;
	min-height: 100px;
	margin-top: 10px;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
	padding: 10px;
	/*margin: 20px;*/
	
}

/*for the buttons on the card */
.buttons {
  margin: 5px;
  border: solid white 3px;
  border-radius: 5px;

}

#rsheader{
  align-content: center;
}